/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
#overlay {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: #000;
  will-change: opacity;
  background: rgba(0, 0, 0, .5);
  overflow: hidden;
}
.nocopy{
  -webkit-user-select: none;
}

@media only screen and (max-width: 1080px) {

}
@media only screen and (max-width: 992px) {

}
@media only screen and (max-width: 760px) {

}